
header {
  background-color: #264e86;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
body{
  background-color: #264e86;
  font-family:"Roboto","Arial",sans-serif;
  color: black;
}
footer{
  color: white;
}
.table{
  background-color: lightgrey;
  width: 1000px;
  border: 10px solid #5e88fc;
  padding: 50px;
  margin: 20px;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
  }

.grid-item {
  display: grid;
  text-align: left;
  padding: 5px;
}
h2 {
  color: white;
  font-family: "Times New Roman",serif;
}
h4 {
  color: black;
  ont-family: "Times New Roman", Times, serif;
}
a:link {color: blue}
a:visited {color: black}
a:hover {
  background-color: white;
  color: purple
}
a:active {color: purple}

nav{
  background-color: #74dbef;
}

table, th, td {
  border: none;
  border-collapse: collapse;
  cellpadding: 5px;
}
ul {
  background: #3399ff;
  padding: 20px;
}

ul li {
  background: #cce5ff;
  margin: 5px;
}

table.center {
  margin-left: auto; 
  margin-right: auto;
}
fieldset {
  background-color: #afffff; 
}
legend{ 
  background-color: #5e88fc; 
  padding: 10px;
}
input,textarea {
  padding: 5px; 
  width: 100%;
  border-radius: 8px;
  border-style: solid;
  outline: none;  
}
input:focus {
  outline: none;
  border width: 2px;
  border-color: #264e86;
}
button{
  background-color: #264e86;
  color: white;
  font-size: 16px;
  width: 100px;
  border-radius: 5px;
  align: center;
  cursor: pointer
}